@import "tailwindcss";

:root {
  --background: #fff6ed;
  --foreground: #1a1a1a;
  --transition-grid: #8b1b1c;
  --accent: #ea7726;
  /* --red: "#8B1B1C"; */
  /* --foreground: #191919; */
  /* --transition-grid: #ea7726; */
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Tabular";
  src: url("/fonts/Tabular-Variable.ttf") format("truetype");
  font-weight: 100 300 500 800 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  /* --color-accent-2: var(--red); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gotu: var(--font-gotu);
  --font-manrope: var(--font-manrope);
  --font-tabular: "Tabular";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}

.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
}

.transition-block {
  position: absolute;
  background-color: var(--transition-grid);
  will-change: transform;
}
